# LaTeX stuff
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.log
*.out
*.pdf
*.fls
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.run.xml
*.toc
archive.zip

# crates
Cargo.lock

# pycache
__pycache__

# Crate information puller
crate-info-puller/target/
crate-info-puller/out

target
benchmarks/Cargo.lock
